<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
        <string>Matter-Regular.ttf</string>
        <string>Matter-RegularItalic.ttf</string>
        <string>Matter-SemiBold.ttf</string>
        <string>Matter-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
