<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
        <string>Matter-Bold.ttf</string>
        <string>Matter-BoldItalic.ttf</string>
        <string>Matter-Heavy.ttf</string>
        <string>Matter-HeavyItalic.ttf</string>
        <string>Matter-Light.ttf</string>
        <string>Matter-LightItalic.ttf</string>
        <string>Matter-Medium.ttf</string>
        <string>Matter-MediumItalic.ttf</string>
        <string>Matter-Regular.ttf</string>
        <string>Matter-RegularItalic.ttf</string>
        <string>Matter-SemiBold.ttf</string>
        <string>Matter-SemiBoldItalic.ttf</string>
        <string>RecklessNeue-Bold.ttf</string>
        <string>RecklessNeue-BoldItalic.ttf</string>
        <string>RecklessNeue-Book.ttf</string>
        <string>RecklessNeue-BookItalic.ttf</string>
        <string>RecklessNeue-Heavy.ttf</string>
        <string>RecklessNeue-HeavyItalic.ttf</string>
        <string>RecklessNeue-Light.ttf</string>
        <string>RecklessNeue-LightItalic.ttf</string>
        <string>RecklessNeue-Medium.ttf</string>
        <string>RecklessNeue-MediumItalic.ttf</string>
        <string>RecklessNeue-Regular.ttf</string>
        <string>RecklessNeue-RegularItalic.ttf</string>
        <string>RecklessNeue-SemiBold.ttf</string>
        <string>RecklessNeue-SemiBoldItalic.ttf</string>
        <string>RecklessNeue-Thin.ttf</string>
        <string>RecklessNeue-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
